@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Passion+One:wght@400;700;900 & display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    --fonte2: 'Passion One', 'cursive';
    --fonte3: 'Sriracha', 'cursive';
}

*{
    margin: 0;
    padding: 0;
    font-size: 1em;
}
body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

/*                                  Cabeçalho*/
header{
    display: block;
    color: rgb(255, 246, 246);
    background-color: black;
    text-align: center;
}

header > h1 {
    padding-top: 40px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 4em;
}

header > p {
    padding-bottom: 50px;
    font-variant: small-caps;
    font-family: var(--fonte1);
    font-weight: normal;
}

header > p > a {
    text-decoration: none;
    color: rgb(255, 246, 246);
    font-weight: bolder;
}

header > p > a:hover{
    text-decoration: underline;
}


/*                            Conteúdo*/
section{
    padding: 10vh 0px 10vh 30px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 2em;
}

.normal{
    background-color: rgb(255, 246, 246);
    color: black;
}

section > p {
    display: block;
    padding-bottom: 2em;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.26);
    display: inline-block;
    padding: 5px;
    text-shadow: 0px 0px 10px black;
}

.imagem{
    background-color: black;
    color: rgb(255, 246, 246);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

#img02{
    background-image: url('../imagens/background002.jpg');
}

/*                          Rodapé*/
footer{
    background-color: black;
    color: rgb(255, 246, 246);
    text-align: center;
    font-size: 1em;
    padding: 5px 0px;
}

footer > p > a{
    text-decoration: none;
    color: rgb(255, 246, 246);
}

footer > p > a:hover{
    text-decoration: underline;
}

/*                  Media query*/
@media screen and (max-width:480px){
    header > h1{
        font-size: 2em;
    }
    header > p,
    footer{
        font-size: 0.7em;
    }
    section{
        font-size: 1.2em;
    }
}

@media screen and (max-width:992px){
    header > h1{
        font-size: 2.5em;
    }
    header > p,
    footer{
        font-size: 0.9em;
    }
    section{
        font-size: 1.5em;
    }
}